*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #313131;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap:20px;
    color:orange;
}

.music-box{
    max-width: 90%;
    width: 400px;
    border-radius: 20px;
    height: 500px;
    background-color: #414141;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

.music-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: orange;
}

.music-info h4{
    font-size: 30px ;
    color: orange;
}

.music-thumbnail{
    width:250px;
    height: 250px;
    border-radius:50%;
}

.music-thumbnail img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.music-box.play .music-thumbnail img{
    animation: rotateImg 4s linear infinite;
}

@keyframes rotateImg {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.music-progress{
    width:70%;
}

.music-progress .progress{
    width:0%;
    height: 4px;
    z-index: 1;
    background-color: orange;
}

.music-progress .progress::after{
    content: " ";
    height: 4px;
    background-color: gray;
    width: 100%;
    z-index: -1;
}

.music-controlls{
    margin-top: -10px;
}

.music-controlls .btn{
    padding:10px;
    border:0;
    background: transparent;
    font-size: 30px;
    color: orange;
}